/* The content of the page's body should have a font size of 16px (making that
a "default" for the page). */
/* Similarly, the page's body should have a font of 'Helvetica Neue', followed by Helvetica,
Arial, and finally sans-serif if the others aren't available. */
body {
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url("../img/PJ\ and\ Friends.jpg");
  color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-with-text {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

/* Paragraphs should have a line height of 1.5x the font size. Check the documentation
carefully for how to format this value. */
p {
  line-height: 1.5;
}

/* Constrain the height of the page images to be no more than 400 pixels. If your image is already
smaller than that, you won't notice any difference in appearance, but this will ensure that the
image is no more than 400 pixels tall, regardless of the actual size of the image file. */
img {
  max-height: 400px;
  margin-right: 10px;
}

/* One item in your list (your choice) should be given a color other than the default black to
highlight it as important. Use a class selector to apply this rule; this means you will need to
modify the HTML to give one list element a class attribute. Be sure to use a semantic name for your
class! */
.important {
  color: seagreen;
}
